*{
	padding: 0;
	margin: 0;
	font-family:  'Quicksand', sans-serif ;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(pic/5.jpg);
	background-size: cover;
	background-position: center;
}

header{
position: fixed;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;transition: 0.6s;
padding: 40px 100px;
z-index: 100000;
padding-top: 45px;
padding-left: 8%;
padding-right: 8%;
}	
header.sticky{
	position: fixed;
	padding: 10px 100px;
	background-color: white;
	
}
header.sticky ul li a{
	color: #000;
}
header.sticky .logo{
	color: black;
}
	
.logo{
	color:white  ;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color:rgba(0, 134, 252, 0.99);
}

header ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
    
}
header ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;

}
header ul li a:hover{
	color: rgba(0, 134, 252, 0.99);
	transition: .4s;

}
.btn {
	background-color:rgba(0, 134, 252, 0.99);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 30px;
	border-radius: 30px;
	transition: transform .4s; 
	margin-left: 81%;

}
.btn:hover{
	background-color: transparent;
	border: 2px solid rgba(0, 134, 252, 0.99);
	cursor: pointer;

}
.content{
	position: absolute;
	top: 55%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: black;
	margin: 20px 0px 20px;
	font-size: 55px;
	font-family: 'Quicksand', sans-serif ;


}

p{

   letter-spacing:1.2px;
   line-height:40px;
     font-size: 23px;
    font-family:  'Quicksand', sans-serif ;
    color: white;
  font-weight: 380;
}


.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
	
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.main2 h2{
	color: white;
	font-size: 55px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.main2 h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.main2 p{
	color: white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
.main2{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
.about-text2 img{
	height: auto;
	width: 430px;

}


.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 340px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;}
	
.box :hover{
	background-color:unset;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color:rgba(0, 134, 252, 0.99) ;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: white;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	text-align: center;
	background: #191919;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me h7{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me h8{
	color: rgba(0, 134, 252, 0.99);
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-me p{
	color: white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	
}
.contact-me img{
	width: 14%;
	border-radius: 5px;
	text-align: center;

}
 .read-more-btn{
	background-color:rgba(0, 134, 252, 0.99);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
	outline: none;
	cursor: pointer;
}
.read-more-btn:hover{
	background-color: transparent;
	border: 2px solid rgba(0, 134, 252, 0.99);
	cursor: pointer;
}
.text.show-more .moreText {
  display: inline;
}
.moreText{
	display: none;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  rgba(0, 134, 252, 0.99);
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:rgba(0, 134, 252, 0.99);
	bottom: 35px;
	font-size: 15px; 
	margin-left: 1.5%;
}

.login{
    height: 380px;
    width: 250px;
    position: absolute;
    top:150px;
    right: 870px;
    border-radius: 3px;
    
}
.login h1{
  text-align: center;
  color:black;
  font-family: 'Quicksand', sans-serif;
 font-weight: 500;
 font-size: 20px;

}
form{
    background-color: rgba(255,255,255,0.9);
    height: 390px;
    width: 350px;
    border-radius: 30px;
    padding: 20px 50px;
    margin-top: 20%;
   margin-left:200%;
 }
form input{
    width: 90%;
    border: none;
    outline: none;
    margin: 15px ;
    background-color:transparent ;
    color:black;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px rgba(0,0,0,0.1) solid;

}
.login button{
  transition-duration: 0.1s;
     width: 40%;
    border-radius: 40px;
    padding: 10px;
    font-weight: bold;
    outline: none;
    cursor:pointer;color: #ffff;
    margin: 10px 15px 0px 5px;
    border: none;
text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight:500px;
  font-size:15px;
  margin-left: 32%;
background-color: rgba(0, 134, 252, 0.99);
}
.login button:hover{
background-color: transparent;
	border: 2px solid rgba(0, 134, 252, 0.99) ;
	cursor: pointer;
	text-decoration-color:black;
	color: black;
	font-weight: 600;
}
.a{
  position:absolute;
  top:10%;
  left: 20%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.bttn {
  background-color:rgba(0, 134, 252, 0.99);
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 30px;
  transition: transform .4s; 
  text-align: center;
  margin-left: 500%;
  margin-top: 800%;
}
.bttn:hover{
  background-color: transparent;
  border: 2px solid rgba(0, 134, 252, 0.99);
  cursor: pointer;

}
.popup{
  background: rgba(0,0,0,0.0);
  width:100%;
  height: 100%;
  height: 100%;
  position:absolute;
  top:0;
  display: none;
  justify-content: center;
  align-items:center;
}

input{
  margin: 20px auto;
  display: block;
  width:50px;
  padding:8px;
  border:1px solid gray;
}
.close{
  position: relative;
 float: right;
  background:#fff;
  height: 20px;
  width:20px;
  border-radius:50%;
  cursor: pointer;
}
.popup-content i{
margin-left: 38%;
  position: relative;
  font-size: 80px;
color: rgba(0, 134, 252, 0.99);
}