@charset "UTF-8";
.question{
	background-color: white;
    width: 920px;
    border-radius: 8px;
    padding: 40px 40px;
     margin: auto;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
.question2{
  background-color: white;
    width: 920px;
    border-radius: 8px;
    padding: 40px 40px;
     margin: auto;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
.question3{
  background-color: white;
    width: 920px;
    height: 500px;
    border-radius: 8px;
    padding: 40px 40px;
     margin: auto;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
h2{
  text-align: left;
    padding-top: 15px;
}
h2{
  text-align: center;
    padding-top: 15px;
    color: rgba(0, 134, 252, 0.99);
   
}
p{
  text-align: center;
    padding: top 20px; 
    font-size: 18px;
}
.question2 p{
  text-align: left;
}
.question3 p{
  text-align: left;
  font-size: 20px;
}
h3{
  text-align: center;
    padding: top 20px; 
    font-size: 40px;
}
h5{
      color: rgba(0, 134, 252, 0.99);
  
  font-size: 35px;
  text-align: center;
  
    }
h7{
     font-size: 10px;
        color: black;
}

#btn {
 border-radius: 5px;
  background-color:rgba(0, 134, 252, 0.99);
  border: none;
  color: white;
  padding: 5px 7px;
  height:40px;
  width:82px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float:inherit;
  margin-left: 47%;
}
#btn:hover{
    background-color: transparent;
    border: 2px solid rgba(0, 134, 252, 0.99);
    cursor: pointer;
    color: black;
    font-weight: 700;
}

#on{
display:inline-block;
background-color: white;
color: black;
 font-family:  sans-serif;
    font-weight: 400;
    font-size: 40px;
  }
  a{
    text-decoration: none;

  }
  .d-flex a:hover{
   color: black;
  }
  h8{
    color: rgba(0, 134, 252, 0.99);
  margin-bottom: 30px;
  margin-top: 30px;
  
  margin-left: 42.2%; 
  font-size: 40px;
  }
  .container-image{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: hidden;
  }
  .image-container .image img{
    width: 300px;
  cursor: pointer;
  transition: .2s linear;
  }
  .image-container .image:hover img{
transform: scale(1.1);
  }
 .second5 .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0,0.9);
    height: 100%;
    width:100%;
    z-index: 100;
    display: none;
  }
  .second5 .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 50px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
  }
   .second5 .popup-image img{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
   border:none;
    border-radius: 5px;
    width: 550px;
    object-fit: cover;
   }
  @media(max-width: 768px){
    .second5 .popup-image  img{
      width: 95%;
    }
   }