:root {
  --main-bg-color: 	#dcdcdc;
  --main-text-color:rgba(0, 134, 252, 0.99);
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}
span{
    color: black;
}
 h3{
        font-size: 10px;
        color: black;
    }
    body{
      font-family: 'Quicksand', sans-serif;

    }
.primary-text {
	color:rgba(0, 134, 252, 0.99);
	}

.second-text {
  color: #bbbec5;
}

.primary-bg {
  background-color: 	#dcdcdc;
}

.secondary-bg {
  background-color:  #c1efde;
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
   background-color: #f3f5f9;
  
}


#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
	color:rgba(0, 134, 252, 0.99);
  font-weight: bold;
  border: none;
}

@media (min-width : 750px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  .form
	{
		width: 95%;
		margin: 0 auto;
	}

}

.search{
	 vertical-align :middle;
	  border : 2px solid #2980b9 ;
	  width:260px;
	  height:37px;
	  padding :0px 5px;
      border-radius:15px;
	  font-size:18px;
	  color:#424242;
	  font-weight:500;
	  left: 850px;
	  position:relative;
}

.search:focus{
   outline:none;
}


/*justification and annonce table */
.class{
	 width: 920px;
   min-height: 500px;
    height: auto;
	background-color:white;
 margin:0px 50px 50px 90px ;
	padding-top:8px;
  border-radius: 3px;
   box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
  
form h2{
	margin-bottom:30px;
color:rgba(0, 134, 252, 0.99);
}
table {
  font-family:   'Quicksand', sans-serif;;
  border-collapse: collapse;
  width: 90%;
  margin-left:30px;
  margin-right:10px;

}

td, th {
 border: none;
  text-align: left;
  padding: 8px;

}
th{
background-color: #F6F6F6;
  
}
tr{
  border-radius: 15px;
}


.input{
	width:20%;
	height:30px;
}














.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.popup{
display:none;
position:absolute;
	
}
.popup-content{
	
position:relative;	

}
.card {
position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,0.125);
    border-radius: .25rem;
}


.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.profileuser{
	margin-left:180px;
}
.option{
	border:hidden;
}
h6{
  font-size: 15px;
}







h1{
  text-align: center;
}
.form-style {
  margin:10px auto;
  width: 600px;
  padding: 20px 12px 10px 20px;
  font: 18px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style td .hello{
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label{
  margin:0 0 5px 0;
  padding:0px;
  display:block;
  font-weight: bold;
  color: black;
}

.form-style .required, .value{
  color:red;
}
.form-style input[type=submit], .form-style input[type=reset]{
  background: #4eb5f1;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style input[type=submit]:hover, .form-style input[type=reset]:hover{
  background: #0e73ad;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}
.form-style .field-textarea{
  height: 150px;
}

.form-style input[type=text],.form-style input[type=email],textarea{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}
.form-style .long{
  width: 100%;
}
.form-style input[type=text]:focus, .form-style input[type=email]:focus,.form-style textarea:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
}